@(mostTweeted: Map[String, Int], mostRetweeted: Map[Tweet, Int], mostDiscussed: Map[Tweet, Int])

@import play.api.libs.json.Json
@import models.Json.tweetOccurenceMapToJson

<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>Twitter News</title>
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
</head>
<body>

  <script type="text/template" id="tweetTemplate">
   <blockquote class="tweet">
      <div class="media panel panel-default">
        <div class="panel-body">
          <div class="media-heading">
            <a href="https://twitter.com/intent/user?user_id={{userId}}" class="pull-right follow-btn btn btn-default">
              <img src="https://dev.twitter.com/sites/default/files/images_documentation/bird_blue_16.png">
              Follow
            </a>
            <a class="avatar" href="https://twitter.com/intent/user?user_id={{userId}}"><img class="pull-left img-rounded media-object" src="{{avatarUrl}}" alt="Avatar"></a>
            <h4 class="name"><a href="https://twitter.com/intent/user?user_id={{userId}}">{{userName}}</a></h4>
            <h5 class="screen-name"><a href="https://twitter.com/intent/user?user_id={{userId}}" class="text-muted">@@{{userScreenName}}</a></h5>
          </div>
          <p class="media-body">
            {{text}}
          </p>
          <div class="media-footer">
            <div class="date">
              <small><a href="https://twitter.com/{{userScreenName}}/statuses/{{id}}">{{dateString}}</a></small>
            </div>
            <div class="pull-left extra">{{extra}}</div>
            <div class="pull-right actions">
              <a href="https://twitter.com/intent/tweet?in_reply_to={{id}}" class="reply"></a>
              <a href="https://twitter.com/intent/retweet?tweet_id={{id}}" class="retweet"></a>
              <a href="https://twitter.com/intent/favorite?tweet_id={{id}}" class="favorite"></a>
            </div>
          </div>
        </div>
      </div>
    </blockquote>
  </script>

  <div class="container">
    <header class="page-header">
      <h1>Twitter News</h1>
    </header>

    <div class="row">
      <div class="col-lg-12">
        <div id="mostTweetedChart"><svg></svg></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h2>Most Retweeted</h2>
        <div id="mostRetweetedList"></div>
      </div>
      <div class="col-lg-6">
        <h2>Most Discussed</h2>
        <div id="mostDiscussedList"></div>
      </div>
    </div>
  </div>

  <script src="@routes.Assets.at("javascripts/d3.js")"></script>
  <script src="@routes.Assets.at("javascripts/d3.layout.cloud.js")"></script>
  <script src="@routes.Assets.at("javascripts/main.js")"></script>
  <script>

    var mostTweetedJson = @Html(Json.toJson(mostTweeted).toString);
    makeMostTweetedChart("#mostTweetedChart svg", mostTweetedJson);

    var mostRetweetedJson = @Html(tweetOccurenceMapToJson("retweetCount")(mostRetweeted).toString);
    showRetweetOccurences(mostRetweetedJson, mostRetweetedList);

    var mostDiscussedJson = @Html(tweetOccurenceMapToJson("replyCount")(mostDiscussed).toString);
    showReplyOccurences(mostDiscussedJson, mostDiscussedList);


    var mostTweetedEventSource = new EventSource("@routes.Application.mostTweetedEventSource");
    mostTweetedEventSource.onmessage = function(e) {
      makeMostTweetedChart("#mostTweetedChart svg", JSON.parse(e.data))
    };


    var mostRetweetedEventSource = new EventSource("@routes.Application.mostRetweetedEventSource");
    mostRetweetedEventSource.onmessage = function(e) {
      showRetweetOccurences(JSON.parse(e.data), mostRetweetedList);
    };


    var mostDiscussedEventSource = new EventSource("@routes.Application.mostDiscussedEventSource");
    mostDiscussedEventSource.onmessage = function(e) {
      showReplyOccurences(JSON.parse(e.data), mostDiscussedList);
    };


    // DOMElement x (Object -> String) -> (DOMEvent -> Unit)
    function tweetOccurencesMessageHandler(tweetsContainerElement, generateTweetExtra) {
      return function(event) {
        showTweetOccurences(JSON.parse(event.data), tweetsContainerElement, generateTweetExtra);
      };
    }

    function showTweetOccurences(tweetsWithOccurences, tweetsContainerElement, generateTweetExtra) {
      tweetsContainerElement.innerHTML = "";

      tweetsWithOccurences.forEach(function(object, i) {
        var tweet = object.tweet;
        tweet.extra = generateTweetExtra(object);
        tweet.dateString = dateString(new Date(tweet.date));
        tweetsContainerElement.innerHTML += tweetToHtml(tweet);
      });
    }

    function showRetweetOccurences(tweetsWithOccurences, tweetsContainerElement) {
      showTweetOccurences(tweetsWithOccurences, tweetsContainerElement, function(object) {
        return object.retweetCount + numberWord(object.retweetCount, " Retweet", " Retweets")
      });
    }

    function showReplyOccurences(tweetsWithOccurences, tweetsContainerElement) {
      showTweetOccurences(tweetsWithOccurences, tweetsContainerElement, function(object) {
        return object.replyCount + numberWord(object.replyCount, " Reply", " Replies")
      });
    }


    function tweetToHtml(tweet) {
      var html = document.getElementById("tweetTemplate").innerHTML;
      html = html.replace(/{{text}}/g, textToHtml(tweet["text"]));
      for (var key in tweet) {
        if (tweet.hasOwnProperty(key)) {
          html = html.replace(new RegExp("{{" + key + "}}", "g"), tweet[key]);
        }
      }
      return html;
    };

    function numberWord(n, singular, plural) {
      if (n === 1) { return singular; } else { return plural; }
    }



    // 2011-11-07T20:21:07+00:00
    function dateDataString(d) {
      var padNumber = function(n) {
        if (n < 10) return "0" + n; else return n;
      };
      return d.getUTCFullYear() + "-" +
             (d.getUTCMonth() + 1) + "-" +
             padNumber(d.getUTCDate()) + "T" +
             padNumber(d.getUTCHours()) + ":" +
             padNumber(d.getUTCMinutes()) + ":" +
             padNumber(d.getUTCSeconds()) + "+00:00";
    };

    // 10:12 PM - 16 Oct 13
    function dateString(d) {
      var padNumber = function(n) {
        if (n < 10) return "0" + n; else return n;
      };
      var months = [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec"
      ];
      return padNumber(d.getHours()) + ":" +
             padNumber(d.getMinutes()) + " " +
             (d.getHours() <= 12 ? "AM" : "PM") + " - " +
             d.getDate() + " " +
             months[d.getMonth()] + " " +
             d.getFullYear();
    };

    function textToHtml(text) {
      var html = text;
      html = html.replace(/(^|\s)(https?:\/\/\S+)/gi, '$1<a href="$2">$2</a>');
      html = html.replace(/(^|\s)(www\.\S+)/gi, '$1<a href="http://$2">$2</a>');
      html = html.replace(/(\b|^|\s)@@([0-9a-z_]+)/gi, '$1<a href="https://twitter.com/$2">@@$2</a>');
      html = html.replace(/(\b|^|\s)#([0-9a-z_]+)/gi, '$1<a href="https://twitter.com/search?q=%23$2&src=hash">#$2</a>');
      return html;
    }


    function close() {
      mostTweetedEventSource.close();
      mostRetweetedEventSource.close();
      mostDiscussedEventSource.close();
    }

  </script>

</body>
</html>