@(statistics: AgeStatistics)(implicit request: RequestHeader)

@import play.api.libs.json._

<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Age Statistics</title>
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
  <script src="@routes.Assets.at("javascripts/jquery-1.10.2.js")"></script> <!-- for bootstrap -->
  <script src="@routes.Assets.at("javascripts/bootstrap.js")"></script> <!-- for dropdown behavior -->
  <script src="@routes.Assets.at("javascripts/d3.js")"></script>
  <script src="@routes.Assets.at("javascripts/nv.d3.js")"></script>
</head>
<body>


  <!-- TOP NAVIGATION -->

  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Age Statistics</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Change Communication Method <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/" id="useHttp">use HTTP</a></li>
          <li><a href="/" id="useWebSockets">use Web Sockets</a></li>
          <li><a href="/" id="useServerSentEvents">use Server Sent Events</a></li>
        </ul>
      </li>
    </ul>

    <p class="navbar-text navbar-right">Currently using <span id="currentlyUsedCommunicationMethod">HTTP</span>.</p>
  </nav>


  <!-- CONTENT -->

  <div>

    <div>
      <div id="ageChart">
        <svg></svg>
      </div>
      <div>
        <form method="post">
          <fieldset>
            <legend>Your Age</legend>
            <div>
              <label for="ageInput">How Old Are You?</label>
              <input type="number" min="1" max="99" id="ageInput" name="age" placeholder="Enter Age">
            </div>
            <button type="submit">Submit</button>
          </fieldset>
        </form>
      </div>
    </div>

  </div>


  <!-- SHOW CHART -->

  <!-- import makeAgeStatisticsChart() function -->
  <script src="@routes.Assets.at("javascripts/common.js")"></script>

  <script>
    var statistics = @Html(Json.toJson(statistics.map { case (k, v) =>
      (k.toString, v)
    }).toString);

    var chart = makeAgeStatisticsChart("#ageChart svg", statistics);
  </script>


  <!-- COMMUNICATION METHODS -->

  <script>
    var webSocketUrl = "@routes.Application.socket.webSocketURL()";
    var eventSourceUrl = "@routes.Application.eventSource";
  </script>

  <script src="@routes.Assets.at("javascripts/httpCommunication.js")"></script>
  <script src="@routes.Assets.at("javascripts/webSocketCommunication.js")"></script>
  <script src="@routes.Assets.at("javascripts/serverSentEventsCommunication.js")"></script>
  <script src="@routes.Assets.at("javascripts/communicationMethodSwitcher.js")"></script>

</body>
</html>
