@(statistics: AgeStatistics)

<!doctype html>
<html>
<head>
  <title>Age Statistics</title>
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
  <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
  <script src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
  <script src="@routes.Assets.at("javascripts/d3.js")"></script>
  <script src="@routes.Assets.at("javascripts/nv.d3.js")"></script>
</head>
<body>

  <div class="container">

    <h1>Age Statistics</h1>

    <div class="row">
      <div class="col-lg-6">
        <div id="ageChart">
          <svg></svg>
        </div>
      </div>
      <div class="col-lg-6">
        <form method="post">
          <fieldset>
            <legend>Your Age</legend>
            <div class="form-group">
              <label for="ageInput">How Old Are You?</label>
              <input type="text" class="form-control" id="ageInput" name="age" placeholder="Enter Age">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </fieldset>
        </form>
      </div>
    </div>

    <script type="text/javascript">
      var chart;
      var data;

      function setup() {
        var container = $("#ageChart");
        container.height(container.width());

        data = [
          @Html((0 to 90 by 10).map { i =>
            val label = s"$i-${i+9}"
            val value = statistics.filter { case (age, _count) =>
              age >= i && age <= i + 9
            }.values.sum
            s"{ label: '$label', value: $value }"
          }.mkString(", "))
        ];

        function dataFunction() {
          return [{
            key: "Age Statistics",
            values: data
          }];
        }

        // see http://nvd3.org/ghpages/discreteBar.html
        nv.addGraph(function() {
          chart = nv.models.discreteBarChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.value })
            .staggerLabels(true)
            .tooltips(false)
            .showValues(true)
            .margin({left: 100})
            .margin({bottom: 100})
            .valueFormat(d3.format(",.0f"));


          chart.yAxis.axisLabel("#Votes").tickFormat(d3.format(",.0f"))
          chart.xAxis.axisLabel("Age (in Years)")

          // long bars will be cut off if domain is not set explicitly
          chart.yDomain([0, d3.max(data, function (d) { return d.value; })])

          d3.select('#ageChart svg')
              .datum(dataFunction)
            .transition().duration(500)
              .call(chart);

          nv.utils.windowResize(chart.update);

          return chart;
        });
      }

      setup();

    </script>

  </div>

</body>
</html>
