@(statistics: AgeStatistics)(implicit request: RequestHeader)

@import play.api.libs.json._

<!doctype html>
<html>
<head>
  <title>Age Statistics</title>
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
</head>
<body>

  <div class="container">

    <h1>Age Statistics</h1>

    <div class="row">
      <div class="col-lg-6">
        <div id="ageChart">
          <svg></svg>
        </div>
      </div>
      <div class="col-lg-6">
        <form method="post" action="@routes.Application.input">
          <fieldset>
            <legend>Your Age</legend>
            <div class="form-group">
              <label for="ageInput">How Old Are You?</label>
              <input type="number" min="1" max="99" class="form-control" id="ageInput" name="age" placeholder="Enter Age">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </fieldset>
        </form>
      </div>
    </div>

  </div>


  <script src="@routes.Assets.at("javascripts/d3.js")"></script>
  <script src="@routes.Assets.at("javascripts/nv.d3.js")"></script>
  <script src="@routes.Assets.at("javascripts/main.js")"></script>

  <script>

    var form = document.forms[0];
    var input = document.getElementById("ageInput");

    form.onsubmit = function() {
      var params = "age=" + input.value;
      var request = new XMLHttpRequest();
      request.open("POST", "@routes.Application.input");
      request.setRequestHeader("Content-type",
                               "application/x-www-form-urlencoded");
      try {
        request.send(params);
      } catch (e) {} // invalid input will result in Bad Request

      form.reset();
      return false; // prevent submission
    }

    var eventSource = new EventSource("@routes.Application.eventSource");

    eventSource.onmessage = function(event) {
      var age = parseInt(event.data, 10);
      chart.increment(age);
      chart.update();
    };



    var statistics = @Html(Json.toJson(statistics.map { case (k, v) =>
      (k.toString, v)
    }).toString);

    var chart = makeAgeStatisticsChart("#ageChart svg", statistics);
  </script>

</body>
</html>
