@(statistics: AgeStatistics)(implicit request: RequestHeader)

@import play.api.libs.json._

<!doctype html>
<html>
<head>
  <title>Age Statistics</title>
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
  <script src="@routes.Assets.at("javascripts/jquery-1.10.2.js")"></script>
  <script src="@routes.Assets.at("javascripts/d3.js")"></script>
  <script src="@routes.Assets.at("javascripts/nv.d3.js")"></script>
  <script src="@routes.Assets.at("javascripts/underscore.js")"></script>
  <script src="@routes.Assets.at("javascripts/main.js")"></script>
</head>
<body>

  <div>

    <header>
      <h1>Age Statistics</h1>
    </header>

    <div>
      <div>
        <div id="ageChart">
          <svg></svg>
        </div>
      </div>
      <div>
        <form method="post">
          <fieldset>
            <legend>Your Age</legend>
            <div>
              <label for="ageInput">How Old Are You?</label>
              <input type="number" min="1" max="99" id="ageInput" name="age" placeholder="Enter Age">
            </div>
            <button type="submit">Submit</button>
          </fieldset>
        </form>
      </div>
    </div>

  </div>

  <script>

    function disableFormSubmittal() {
      $("form").off("submit"); // remove old event handler
      $("form").submit(function(event) {
        event.preventDefault();
      });
    }

    disableFormSubmittal();

    var ws =
      new WebSocket("@routes.Application.input.webSocketURL()");

    ws.onopen = function() {
      $("form").submit(function(event) {
        event.preventDefault();
        ws.send($("#ageInput").val());
        this.reset();
      });
    };

    ws.onclose = disableFormSubmittal;

    ws.onmessage = function(event) {
      var age = parseInt(event.data, 10);
      chart.increment(age);
      chart.update();
    };


    function adjustContainerSize() {
      var container = $("#ageChart");
      container.height(container.width());
    }

    window.onresize = adjustContainerSize;
    adjustContainerSize();

    var statistics = @Html(Json.toJson(statistics.map { case (k, v) =>
      (k.toString, v)
    }).toString);

    var chart = makeAgeStatisticsChart("#ageChart svg", statistics);
  </script>

</body>
</html>
