@(statistics: AgeStatistics)(implicit request: RequestHeader)

@import play.api.libs.json._

<!doctype html>
<html>
<head>
  <title>Age Statistics</title>
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
  <script src="@routes.Assets.at("javascripts/jquery-1.10.2.js")"></script>
  <script src="@routes.Assets.at("javascripts/d3.js")"></script>
  <script src="@routes.Assets.at("javascripts/nv.d3.js")"></script>
  <script src="@routes.Assets.at("javascripts/underscore.js")"></script>
  <script src="@routes.Assets.at("javascripts/main.js")"></script>
</head>
<body>

  <div>

    <header>
      <h1>Age Statistics</h1>
    </header>

    <div>
      <div>
        <div id="ageChart">
          <svg></svg>
        </div>
      </div>
      <div>
        <form method="post">
          <fieldset>
            <legend>Your Age</legend>
            <div>
              <label for="ageInput">How Old Are You?</label>
              <input type="number" min="1" max="99" id="ageInput" name="age" placeholder="Enter Age">
            </div>
            <button type="submit">Submit</button>
          </fieldset>
        </form>
      </div>
    </div>

  </div>

  <script>

    var form = document.forms[0];
    var input = document.getElementById("ageInput");
    var chartContainer = document.getElementById("ageChart");

    // prevent form submission
    form.onsubmit = function() { return false; };

    var ws =
      new WebSocket("@routes.Application.input.webSocketURL()");

    ws.onopen = function() {
      form.onsubmit = function() {
        ws.send(input.value)
        form.reset();
        return false; // prevent submission
      }
    };

    ws.onclose = function() {
      form.onsubmit = function() { return false; };
    };

    ws.onmessage = function(event) {
      var age = parseInt(event.data, 10);
      chart.increment(age);
      chart.update();
    };



    function autoResizeChart() {
      chartContainer.style.height = chartContainer.clientWidth + "px";
    }

    window.onresize = autoResizeChart;
    autoResizeChart();

    var statistics = @Html(Json.toJson(statistics.map { case (k, v) =>
      (k.toString, v)
    }).toString);

    var chart = makeAgeStatisticsChart("#ageChart svg", statistics);
  </script>

</body>
</html>
